<!DOCTYPE html>
<html lang="fr" ng-app="sfImmo">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Entrez chez vous{% endblock %}</title>

    {% stylesheets
    'bundles/sfimmo/css/bootstrap.css'
    'bundles/sfimmo/css/sb-admin.css'
    'bundles/sfimmo/css/all.css'
    filter='cssrewrite'  %}

    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
{% block nav %}
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url('index') }}">Accueil</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right navbar-user">
            {#<li class="dropdown messages-dropdown">#}
                {#<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="badge">7</span> <b class="caret"></b></a>#}
                {#<ul class="dropdown-menu">#}
                    {#<li class="dropdown-header">7 New Messages</li>#}
                    {#<li class="message-preview">#}
                        {#<a href="#">#}
                            {#<span class="avatar"><img src="http://placehold.it/50x50"></span>#}
                            {#<span class="name">John Smith:</span>#}
                            {#<span class="message">Hey there, I wanted to ask you something...</span>#}
                            {#<span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="divider"></li>#}
                    {#<li class="message-preview">#}
                        {#<a href="#">#}
                            {#<span class="avatar"><img src="http://placehold.it/50x50"></span>#}
                            {#<span class="name">John Smith:</span>#}
                            {#<span class="message">Hey there, I wanted to ask you something...</span>#}
                            {#<span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="divider"></li>#}
                    {#<li class="message-preview">#}
                        {#<a href="#">#}
                            {#<span class="avatar"><img src="http://placehold.it/50x50"></span>#}
                            {#<span class="name">John Smith:</span>#}
                            {#<span class="message">Hey there, I wanted to ask you something...</span>#}
                            {#<span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="divider"></li>#}
                    {#<li><a href="#">View Inbox <span class="badge">7</span></a></li>#}
                {#</ul>#}
            {#</li>#}
            {#<li class="dropdown alerts-dropdown">#}
                {#<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> Alerts <span class="badge">3</span> <b class="caret"></b></a>#}
                {#<ul class="dropdown-menu">#}
                    {#<li><a href="#">Default <span class="label label-default">Default</span></a></li>#}
                    {#<li><a href="#">Primary <span class="label label-primary">Primary</span></a></li>#}
                    {#<li><a href="#">Success <span class="label label-success">Success</span></a></li>#}
                    {#<li><a href="#">Info <span class="label label-info">Info</span></a></li>#}
                    {#<li><a href="#">Warning <span class="label label-warning">Warning</span></a></li>#}
                    {#<li><a href="#">Danger <span class="label label-danger">Danger</span></a></li>#}
                    {#<li class="divider"></li>#}
                    {#<li><a href="#">View All</a></li>#}
                {#</ul>#}
            {#</li>#}
            {#<li class="dropdown user-dropdown">#}
                {#<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>#}
                {#<ul class="dropdown-menu">#}
                    {#<li><a href="#"><i class="fa fa-user"></i> Profile</a></li>#}
                    {#<li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge">7</span></a></li>#}
                    {#<li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>#}
                    {#<li class="divider"></li>#}
                    {#<li><a href="#"><i class="fa fa-power-off"></i> Log Out</a></li>#}
                {#</ul>#}
            {#</li>#}
            {% if app.session.get('user') != null %}
                {% set user = app.session.get('user') %}
                {% if user.getIsAdmin() %}
                    <li>
                        <a href="{{ url('admin_index') }}">Administration</a>
                    </li>
                {% endif %}

                <li><a href="{{ url('logout') }}">Déconnexion</a></li>
            {% else %}
                <li>
                    <a href="#" data-toggle="modal" data-target="#mConnexion">Connexion</a>
                </li>
            {% endif %}
        </ul>
    </div><!-- /.navbar-collapse -->
{% endblock %}
</nav>

{% block body %}

{% endblock %}


<!-- JavaScript -->


{% javascripts
'bundles/sfimmo/js/jquery-1.10.2.js'
'bundles/sfimmo/js/bootstrap.js'
'bundles/sfimmo/js/morris/chart-data-morris.js'
'bundles/sfimmo/js/tablesorter/jquery.tablesorter.js'
'bundles/sfimmo/js/tablesorter/tables.js'
'bundles/sfimmo/js/angular.js'
'bundles/sfimmo/js/angular-loader.js'
'bundles/sfimmo/js/client/app.js'
'bundles/sfimmo/js/client/services-all.js'
'bundles/sfimmo/js/client/user.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}


<!-- Page Specific Plugins -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>

</body>
</html>
